<div class="card mt-3">
	<div class="card-body bg-light">
		<h5 class="card-title">Ministério BEM</h5>
		<p class="text-justify">
			Em 2017 um novo campo missionário foi iniciado junto aos cristãos que congregam nas igrejas evangélicas da grande São Paulo, além do Estado de São Paulo; assim nasceu o segundo ministério da Comunidade - Ministério BEM.
		</p>
		<p class="text-justify">  
			Dessa forma, desenvolvemos a nossa vocação através de uma missão além-fronteiras, aceitando todos trabalhos e orações que nos são solicitados, mesmo sem ter uma sede própria.
		</p>
		Acesse nosso canal:
	</div>
	<div class="embed-responsive embed-responsive-21by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GnP34YdIp64" allowfullscreen></iframe> 
	</div>
</div>