<div class="card mt-3"> <!-- text-center -->
	<div class="card-body">
		<h5 class="card-title">Ministério BEM</h5>
		<p class="card-text">Em 2017 um novo campo missionário foi iniciado junto aos cristãos que congregam nas igrejas evangélicas da grande São Paulo, além do Estado de São Paulo; assim nasceu o segundo ministério da Comunidade - Ministério BEM.  
Dessa forma, desenvolvemos a nossa vocação através de uma missão além-fronteiras, aceitando todos trabalhos e orações que nos são solicitados, mesmo sem ter uma sede própria.</p>
	</div>
</div>