<div class="card border-light mb-3">
  <div class="card-body">
	<div class="container-fluid">
		<div class="row">
			<div class="card text-center border-light w-100">
			   <img class="card-img-top" src="assets/images/voeTexto.jpg" height="410" alt="VOE">
				<div class="card-body">	
<!--     				<h5 class="card-title">Voluntário Eucarístico</h5> -->
    				<p class="card-text">Na prática, nossa missão é desenvolvida através de ministérios nas igrejas cristãs, e através de um organismo 
    				social chamado <strong>VOE – Voluntariado Eucarístico</strong>, que tem a missão de reunir os homens e mulheres de boa vontade da 
    				sociedade em torno das obras de misericórdia da Igreja. Antes de falar sobre Ora et Labora traduzimos do latim para o português 
    				exatamente em duas dimensões importantes sendo da seguinte forma: </p>

					<p class="card-text font-weight-bold">Ora: Orar ou Rezar.</p>
					<p class="card-text font-weight-bold">Labora: Trabalho ou Tarefa.</p> 
					 
					<p class="card-text">Já Dentro do aspecto e exemplo concreto da Regra de Vida de São Bento um de nossos Patronos de Vida Consagrada 
					 Leigo, e que nasce literalmente os braços do <strong>VOE LABORA</strong> e <strong>VOE ORA</strong>, ao qual tornamos uma efetiva 
					 UNIDADE de modo eficaz. Sabemos que perfeitamente São Bento soube interpretar a Vontade de Deus para uma regra de Vida de mudanças 
					 juntos aos Monges que viviam no Mosteiro.</p> 
					
					
					<p class="card-text font-italic">"Porque tive fome e me destes de comer; tive sede e me destes de beber; era peregrino e me 
					acolhestes; 36. nu e me vestistes; enfermo e me visitastes; estava na prisão e viestes a mim." ( Mateus 25 35,36 ) </p>

					<p class="card-text">O VOE Voluntariado Eucarístico é um movimento sem fins lucrativos, que hoje está sediado no Santuário São 
					Judas Tadeu - SP sobre a Coordenação da Comunidade Eucarística, trabalhamos em prol da Sociedade Carente e Marginalizada desde o 
					Ano 2009. O objetivo maior para nós é fazer algo pelo próximo daquele que sofre por diversas situações etc. </p>
    			
    				<h5 class="card-title">Missão</h5>
					<p class="card-text">Somos chamados a despertar (Ef 5,14) do nosso sono mortal, a nos levantarmos (At 26,15-18) no meio desta 
					geração e ir (Mc 16,15) onde ninguém quer ir (Mt 25,35-36) aos sem teto, encarcerados, hospitalizados, órfãos e abandonados.</p>
					
					<h5 class="card-title">O que é ?</h5>
					<p class="card-text">O VOE LABORA é a parte do trabalho do nosso Voluntariado, é aquela parte que coloca a Mão na massa que  
					busca recursos físicos, através de doações de alimentos, produtos de higiene pessoal  e produtos de limpeza, e que também busca 
					parceiros para a realização da grande tarefa o trabalho árduo.</p>
					
					<h5 class="card-title">Porque realizamos Missões ou fazemos às Missões ?</h5>
					<p class="card-text">Devemos pensar naquilo que Jesus sempre fez, ele sempre foi Missionário e vivia em Missão, para nós a Missão 
					é exatamente fazer parte da Família de Deus, fazer parte do Mistério do Cristo, a Missão é aceitar a seguir Jesus fazendo às boas 
					obras de Misericórdia, é na Missão que vemos a face do Cristo Ressuscitado em nossos irmãos e irmãs. </p>

					<p class="font-italic">”Todas as vezes em que nos inclinamos às necessidades dos irmãos, dêmos de comer e beber a Jesus; vestimos, 
					apoiamos e visitamos o Filho de Deus” Papa Francisco.</p>
					
					<h5 class="card-title">Quem pode participar das Missões ?</h5> 
					<p class="card-text">Quaisquer pessoa de boa fé, independentemente de sua crença podem está conosco:  Famílias, Crianças, Jovens 
					e Adolescentes a nossa maior alegria é o trabalho em unidade em prol sempre do próximo.</p>
					
					<h5 class="card-title">Quantas Missões são realizadas por Ano ?</h5> 
					<p class="card-text">No princípio do das nossas primeiras Missões tínhamos o objetivo de atender 4 Missões ao longo do Ano, 
					atualmente saímos do principio das primeiras Missões e estamos chegando até 8 Missões no Ano, podendo ainda chegar em fronteiras 
					que ainda nem conhecemos em virtude a tantas necessidades do nossos irmãos e irmãs necessitados. </p>
					
			</div>
		</div>
		
		<div class="row">
			<div class="card-deck">
			  <div class="card">
			    <img class="card-img-top" src="assets/images/missoes/boanova.png" height="410" alt="Missão Boa Nova">
			    <div class="card-body">
			      <h5 class="card-title">Missão Boa Nova</h5>
<!-- 			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutSaoJudas" role="button" aria-expanded="false" aria-controls="aboutSaoJudas">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="assets/images/missoes/misericordia.png" height="410" alt="Festa Misericórdia">
			    <div class="card-body">
			      <h5 class="card-title">Missão Festa da Misericórdia</h5>
<!-- 			      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> -->
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutMaeJesus" role="button" aria-expanded="false" aria-controls="aboutMaeJesus">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="assets/images/missoes/enfermos.png" height="410" alt="Missão dos Enfermos">
			    <div class="card-body">
			      <h5 class="card-title">Missão Enfermos(as)</h5>
<!-- 			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutFranciscoXavier" role="button" aria-expanded="false" aria-controls="aboutFranciscoXavier">Toggle first element</a>
			    </div>
			     -->
			  </div>
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="card-deck">
			  <div class="card">
			    <img class="card-img-top" src="assets/images/missoes/samaritano.png" height="410" alt="Missão Bom Samaritano">
			    <div class="card-body">
			      <h5 class="card-title">Missão Samaritana(o)</h5>
<!-- 			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutSaoJudas" role="button" aria-expanded="false" aria-controls="aboutSaoJudas">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="..." height="410" alt="Missão Encarcerados">
			    <div class="card-body">
			      <h5 class="card-title">Missão Encarcerados(as)</h5>
<!-- 			      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> -->
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutMaeJesus" role="button" aria-expanded="false" aria-controls="aboutMaeJesus">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="assets/images/missoes/marginalizadas.png" height="410" alt="Missão de Fronteira">
			    <div class="card-body">
			      <h5 class="card-title">Missão Fronteira</h5>
<!-- 			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutFranciscoXavier" role="button" aria-expanded="false" aria-controls="aboutFranciscoXavier">Toggle first element</a>
			    </div>
			     -->
			  </div>
			</div>
		</div>
		
	</div>
  </div> 
</div>