<div class="card border-light mb-3">
  <div class="card-body">
	<div class="container-fluid">
		<div class="row">
			<div class="card text-center border-light w-100">
			   <img class="card-img-top" src="..." alt="Card image cap">
				<div class="card-body">	
    				<h5 class="card-title">Voluntário Eucarístico</h5>
    				<p class="card-text">Na prática, nossa missão é desenvolvida através de ministérios nas igrejas cristãs, e através de um organismo social chamado <strong>VOE – Voluntariado Eucarístico</strong>, que tem a missão de reunir os homens e mulheres de boa vontade da sociedade em torno das obras de misericórdia da Igreja.</p>
    			
    				<h5 class="card-title">Missão</h5>
					<p class="card-text">Somos chamados a despertar (Ef 5,14) do nosso sono mortal, a nos levantarmos (At 26,15-18) no meio desta geração e ir (Mc 16,15) onde ninguém quer ir (Mt 25,35-36) aos sem teto, encarcerados, hospitalizados, órfãos e abandonados.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="card-deck">
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Missão Boa Nova</h5>
			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutSaoJudas" role="button" aria-expanded="false" aria-controls="aboutSaoJudas">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Missão Festa da Misericórdia</h5>
			      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutMaeJesus" role="button" aria-expanded="false" aria-controls="aboutMaeJesus">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Missão Enfermos(as)</h5>
			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutFranciscoXavier" role="button" aria-expanded="false" aria-controls="aboutFranciscoXavier">Toggle first element</a>
			    </div>
			     -->
			  </div>
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="card-deck">
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Missão Samaritana(o)</h5>
			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutSaoJudas" role="button" aria-expanded="false" aria-controls="aboutSaoJudas">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Missão Encarcerados(as)</h5>
			      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutMaeJesus" role="button" aria-expanded="false" aria-controls="aboutMaeJesus">Toggle first element</a>
			    </div>
			     -->
			  </div>
			  <div class="card">
			    <img class="card-img-top" src="..." alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Missão Fronteira</h5>
			      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			    </div>
			    <!-- 
			    <div class="card-footer">
					<a class="btn btn-primary" data-toggle="collapse" href="#aboutFranciscoXavier" role="button" aria-expanded="false" aria-controls="aboutFranciscoXavier">Toggle first element</a>
			    </div>
			     -->
			  </div>
			</div>
		</div>
		
	</div>
  </div> 
</div>