<div class="card mt-3">
	<div class="card-body bg-light">
		<div class="container-fluid">
			<h5 class="card-title">Comunidade Eucarística</h5>
			
			
			<div class="accordion" id="accordionExample">
				<div class="card">
				
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Como surgiu a Comunidade Eucarística? 
							</button>
						</h5>
					</div>
				
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<p class="text-justify">
								A comunidade é fruto de um discernimento pessoal e coletivo que acontece no tempo do Senhor, com muita paciência, e sabendo identificar os sinais misticos. 
							</p>
							<p class="text-justify">
								No nosso caso foi exatamente esse: uma sucessão de sinais e permissões de Deus, que foram acolhidos por um grupo inicial de 4 pessoas, que entenderam que havia um carisma particular e uma missão universal a ser desempenhada, e aceitaram essa vocação.
							</p> 
							<p class="text-justify">
								Temos o ano de 2015 como “um marco”, quando os primeiros membros da Comunidade fizeram seu ato público de consagração a Deus e à Igreja.
							</p>			
					    </div>
					</div>
				  
				</div>
				
				<!--  
				<div class="card">
					<div class="card-header" id="headingTwo">
					   <h5 class="mb-0">
					      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					        Grupo de itens colapsável #2
					      </button>
						</h5>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
					      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					   </div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
</div>


