<div class="card mb-3">
	<div class="card-body bg-light text-center">
		<img class="rounded mx-auto d-block" src="./assets/images/vigilia.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">9 Vigilia 2018</h5>
			<p class="card-text">Na próxima sexta-feira(2) novembro de 2018 a partir das 23hs no Santuário São Judas Tadeu acontece nossa vigília, como forma de viver concretamente a mística do Sagrado Coração de Jesus, revelado por Ele mesmo á Santa Margarida Maria de Alacoque, os membros do Ministério Eucarístico estarão em louvor e adoração, num ambiente privilegiado para a escuta da voz de Deus e para um encontro mais íntimo com o Amado. <strong>Informações: Ana Maria Almeida (11) 99421637.</strong></p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  		</div>
  	</div>
</div>