<div class="card mb-3">
	<div class="card-body bg-light text-center">
		<img class="rounded mx-auto d-block" src="./assets/images/livroespada.jpeg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Lançamento Livro: A Espada do Espirito</h5>
			<p class="card-text">Com o apoio do Santuário São Judas Tadeu, aconteceu no último dia 28/10/18 o lançamento do livro “A Espada do Espirito” que narra como combater a depressão através da palavra de Deus, o autor da obra o escritor Tadeu Rasi distribuiu autógrafos para todos que visitaram o estande do Ministério Eucarístico.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  		</div>
  	</div>
</div>