<div class="card border-light mb-3">
  <div class="card-body">
	<div class="container-fluid">
		<div class="row">
			<div class="card text-center border-light w-100">
<!-- 			   <img class="card-img-top" src="assets/images/voeTexto.jpg" height="410" alt="VOE"> -->
				<div class="card-body">	
<!--     				<h5 class="card-title">Voluntário Eucarístico</h5> -->
    				<h5 class="card-title">Ora: Orar ou Rezar.</h5>
					
<!-- 					<h5 class="card-title">O que é ?</h5> -->
					<p class="card-text">O VOE ORA é muito importante são ás Mãos unidas os Joelhos no chão que se colocam em oração por todas às 
					Missões ao longo de Ano a Ano, ou seja o VOE ORA é a Oração com a Ação do VOE LABORA é uma junção da Graça de Deus.</p>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
<p>
    
</p>
