<div class="card border-light mb-3">
  <div class="card-body">
	
	<div class="container-fluid">
		
		<div class="row">
			<div class="card text-center border-light w-100">
			   <img class="card-img-top" src="assets/images/missoes/2019/refugiados/venezuelanos.jpg" height="400" alt="Missão Refugiado">
				<div class="shadow-lg p-3 mb-5 bg-white rounded">
					<h5 class="card-title">Missão Refugiados</h5>
					<p class="tcard-text font-weight-bold">Local: Rua Sérgio de Azevedo Valente, 146 - Vila Brasilina - São Paulo</p>
					
    				<p class="text-lg-left">Colabore com as doações:</p>
    				
    				<p class="text-lg-left">* Alimentos Diversos</p>
    				<p class="text-lg-left">* Produtos de Limpeza</p>
    				<p class="text-lg-left">* Produtos de Higiene Pessoal em geral</p>
    				<p class="text-lg-left">* Roupas Masculina, Feminia e Infantil (em perfeito estado)</p>
    				
    				<p class="card-text font-weight-bold">INFORMAÇÕES</p>
    				
					<p class="card-text">Marina 			(11) 98741-0462</p>
					<p class="card-text">Jane   			(11) 99620-6126</p>
					<p class="card-text">Angel Aguilera (11) 99525-7513</p>
					<p class="card-text">Denise			(11) 98058-1437</p>
    			</div>
    		</div>
    	</div>
    	
	</div>
  </div>
</div>