<div class="card mt-3 mb-4">
	<div class="card-body bg-light">
		<h5 class="card-title text-center">Palavra de ciência</h5>

		<p class="text-justify">
			O carisma da Palavra de Ciência é uma revelação sobrenatural de algo que só Deus conhece, além da pessoa que está passando pela 
			situação; é um dom gratuito do Espírito Santo, através do qual é revelada uma situação, um fato ou uma lembrança, relacionada a 
			acontecimentos passados ou presentes e que estão causando problemas à vida de determinada pessoa. Podemos dizer que a palavra de 
			ciência é o diagnóstico de Deus para situações problemáticas de nossa vida, pois por meio deste carisma, pode-se chegar à raiz de um 
			problema (por exemplo, uma doença) ou ao conhecimento de uma cura.
		</p>
		<p class="text-justify">
			O carisma da Palavra de Sabedoria é uma ação de Deus, a qual orienta como fazer determinada coisa ou o que e como dizer em determinado 
			momento. A palavra de sabedoria inspira o homem como agir, falar ou se comportar em situações concretas da vida, levando a pessoa a 
			decidir de acordo com a vontade de Deus; se a palavra de ciência é o diagnóstico para uma determinada situação, isto é, mostra a causa,
			podemos dizer que a palavra de sabedoria é o remédio para tratar esta situação; este carisma está intimamente ligado ao uso da palavra 
			de ciência, embora possa acontecer separadamente.
		</p>
		<footer class="blockquote-footer">Fonte: <cite title="Source Title">Catecismo da Igreja Católica</cite></footer>
	</div>
</div>

<div class="card mt-3 mb-4">
	<div class="card-body bg-light">
		<me-autoinfoanapaula></me-autoinfoanapaula>
	</div>
</div>