<div class="card mt-3 mb-4">
	<div class="card-body bg-light">
		<h5 class="card-title text-center">Reflexão do Dia</h5>

		<p class="text-justify">
			O Espírito Santo hoje nos leva a uma aliança com Jesus Cristo.
			Esta é uma aliança que se estabelece com aqueles que querem ser santos - <strong>que têm cosciência das implicações da escolha de Jesus 
			Cristo como seu único e suficiente Senhor e Salvador:</strong> 
		</p>
		<ul class="list-unstyled">
			<li><u>COMPROMISSOS DO SENHOR:</u></li>
			<ul>
				<li>nos tornar superiores em honra</li>
				<li>levar-nos à Sua intimidade</li>
				<li>umprir Suas promessas</li>
			</ul> 
		</ul>

		<ul class="list-unstyled">
			<li><u>NOSSOS COMPROMISSOS:</u></li>
			<ul>
				<li>amar o Senhor com todo o coração </li>
				<li>guardar as palavras do Senhor com toda nossa alma</li>
				<li>seguir os caminhos do Senhor</li>
				<li>cumprir as ordens do Senhor</li>
			</ul> 
		</ul>
		
		<p class="text-justify">
			Ao orarmos com o salmista hoje, vamos pedir a Deus a fidelidade para cumprir nossa parte nessa aliança:
		</p>
		
		<p><strong>Salmo 118</strong></p>
		<ul class="list-unstyled">
			<li><strong>— Feliz é quem na lei do Senhor Deus vai progredindo!</strong></li>
			<li>— Feliz o homem sem pecado em seu caminho, que na lei do Senhor Deus vai progredindo! Feliz o homem que observa seus preceitos, e de todo o coração procura a Deus!</li>
			<li><strong>— Feliz é quem na lei do Senhor Deus vai progredindo!</strong></li>
		  	<li>— Os vossos mandamentos vós nos destes, para serem fielmente observados. Oxalá seja bem firme a minha vida em cumprir vossa vontade e vossa lei!</li>
		  	<li><strong>— Feliz é quem na lei do Senhor Deus vai progredindo!</strong></li>
		  	<li>— Quero louvar-vos com sincero coração, pois aprendi as vossas justas decisões. Quero guardar vossa vontade e vossa lei; Senhor, não me deixeis desamparado!</li>
		  	<li><strong>— Feliz é quem na lei do Senhor Deus vai progredindo!</strong></li>
		</ul>
		
		<p class="text-justify">
			Para meditarmos durante o dia, segue o Evangelho de nosso Senhor Jesus Cristo para a Igreja hoje:
		</p>
		
		<p><em>Evangelho segundo S. Mateus, 5, 43-48</em></p>
		<ul class="list-unstyled">
			<li>Naquele tempo, disse Jesus aos seus discípulos:</li>
			<li>“Vós ouvistes o que foi dito: ‘Amarás o teu próximo e odiarás o teu inimigo!’ Eu, porém, vos digo: Amai os vossos inimigos e rezai por aqueles que vos perseguem!</li>
			<li>Assim, vos tornareis filhos do vosso Pai que está nos céus, porque ele faz nascer o sol sobre maus e bons, e faz cair a chuva sobre os justos e injustos. Porque, se amais somente aqueles que vos amam, que recompensa tereis? Os cobradores de impostos não fazem a mesma coisa?</li>
		  	<li>E se saudais somente os vossos irmãos, o que fazeis de extraordinário? Os pagãos não fazem a mesma coisa? Portanto, sede perfeitos como o vosso Pai celeste é perfeito”.</li>
		</ul>
		
		<ul class="list-unstyled">
			<li>Vinde Espírito Santo! </li>
			<li>Enchei os corações dos vossos fiéis, e acendei neles o fogo do Vosso amor! </li>
			<li>Enviai o Vosso espírito, e tudo será criado, e renovareis a face da terra! </li>
			<li>Oh Deus, que instruístes os corações dos vossos fiéis com a luz do Espírito Santo, fazei que apreciemos retamente todas as coisas, e gozemos sempre de Sua consolação, por Cristo, Senhor nosso. </li>
			<li>Amém.</li>
		</ul>
		
		<p><strong>Pai nosso... </strong></p>
		<p><strong>Ave Maria... </strong></p>
		
		<p> Glória ao Pai, ao Filho e ao Espírito Santo, como era no princípio, agora, e sempre. <strong>Amém</strong></p>
			
	</div>
</div>

<div class="card mt-3 mb-5">
	<div class="card-body bg-light">
		<me-autoinfotadeu></me-autoinfotadeu>
	</div>
</div>