<div class="card mt-3">
	<div class="card-body bg-light">
		<h5 class="card-title">Levante Pleno</h5>
		<p class="text-justify">
			Em nossos encontros nos preocupamos em compreender o estado de vida dos membros do Ministério Eucarístico, assim realizamos formações com exposições de temas, dinâmicas e partilhas.
		</p> 
	   <p class="text-justify">
	   	O Evangelho de São João inspira o conteúdo retirado do Magistério e Tradição da Igreja.
	   </p>
	</div>
	<div class="text-center">
		<img src="./assets/images/levantepleno.png" class="rounded" alt="...">
	</div>
</div>