<div class="card mb-3">
	<div class="card-body bg-light text-center">
		<img class="rounded mx-auto d-block" src="./assets/images/novenas.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Novena de Natal 2018</h5>
			<p class="card-text">A partir do dia 15 de dezembro de 2018 se inicia a Novena de Natal, uma das atividades missionárias mais aguardadas pelos membros do Ministério Eucarístico, familiares e amigos já que a mesma acontece nas casas dos participante que residem nos bairros próximos ás nossas paroquias de atuação.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  		</div>
  	</div>
</div>