<div class="card mt-3"> <!-- text-center -->
	<div class="card-body bg-light">
		<h5 class="card-title">Movimento Ministério Eucarístico</h5>
		
		<p class="text-justify">
			O MINISTÉRIO EUCARÍSTICO é um movimento leigo fundado em agosto de 2008, com a missão particular de despertar a Igreja para o Sagrado a partir da Encarnação do Verbo, da Paixão, da Morte e da Ressurreição de Jesus Cristo.
		</p>
		<p class="text-justify">
			É antes de qualquer definição racional, uma resposta ao mover do Espírito Santo em uma geração marcada pelos novos Movimentos e Associações Religiosas pós Concílio Vaticano II. 
			Todas as inspirações, decisões e direções tomadas dentro desse movimento são suscitadas por Deus em oração.
		</p>
		
		<p class="font-italic">
			“É acolhido(a) no Ministério Eucarístico como missionário todo(a) aquele(a) que tem um coração aberto para doar, e não receber"</p>
		<p>palavras do fundador Enrico Tadeu.</p>
		
		<p class="text-justify">
			O carisma é a Comunhão do Corpo Místico de Cristo, na unidade do Espírito Santo, para a honra e glória de Deus Pai. 
			Nosso lema é “derrubar muralhas e construir pontes com as mesmas pedras”.
		</p>

	</div>
</div>