<div class="card mt-3 mb-4">
	<div class="card-body bg-light">
		<h5 class="card-title text-center">Movimento Ministério Eucarístico</h5>
		
		<p class="text-justify">
			O <strong>MINISTÉRIO EUCARÍSTICO</strong> é um movimento leigo fundado em agosto de 2008, com a missão particular de despertar a Igreja para o Sagrado a partir da Encarnação do Verbo, da Paixão, da Morte e da Ressurreição de Jesus Cristo.
		</p>
		<p class="text-justify">
			É antes de qualquer definição racional, uma resposta ao mover do Espírito Santo em uma geração marcada pelos novos Movimentos e Associações Religiosas pós Concílio Vaticano II. 
			Todas as inspirações, decisões e direções tomadas dentro desse movimento são suscitadas por Deus em oração. Voltados para os Leigos, a meta desse movimento é alcançar os fiéis mais afastados da vida paroquial, para reintegrá-los á comunidade, através do trabalho com as pessoas conforme seu estado de vida.
		</p>
		
		<p class="font-italic">
			“É acolhido(a) no Ministério Eucarístico como missionário todo(a) aquele(a) que tem um coração aberto para doar, e não receber"</p>
		<p>palavras do fundador Enrico Tadeu.</p>
		
		
	   <h5 class="card-title">Missão</h5>
		<p class="text-justify">
			A missão do Ministério Eucarístico é formar os cristãos para que se engajem nas paróquias e fortaleçam a vida pastoral. Voltado para os leigos, a meta do nosso movimento é alcançar os fieis mais afastados da vida paroquial para reintegrá-los á comunidade. Nosso lema é “Do breu à Gloria”.
		</p>
		
		<!--<p><strong>Carisma</strong></p> -->
		<h5 class="card-title">Carisma</h5>
		<p class="text-justify">
			O carisma é a Comunhão do Corpo Místico de Cristo, na unidade do Espírito Santo, para a honra e glória de Deus Pai. 
			Nosso lema é “derrubar muralhas e construir pontes com as mesmas pedras”.
		</p>
		<p class="text-justify">
			<strong>O que é o carisma específico do Ministério Eucarístico?</strong>
		</p>
		
		<ul class="list-unstyled">
			<li>Nossa visão está fundamentada em seis pilares:</li>
			<ul>
				<li>Trabalho com os membros do grupo através de células, conforme o Estado de Vida dos  membros.</li>
				<li>Somar a Formação á Evangelização, fazendo uso da Filosofia e da Teologia, á luz da Mística.</li>
				<li>Ressignificar e contextualizar a Tradição da Igreja, formando os seus filhos para frutificarem nas suas respectivas paróquias.</li>
				<li>Ter na Eucaristia o princípio, o meio e o fim de toda a nossa pertença a Cristo.</li>
				<li>Viver uma espiritualidade “a partir da base”, fazendo da vida cotidiana uma Missão.</li>
				<li>Procurar dar continuidade à Geração do Sim de Nossa Senhora, buscando a reparação da Unidade da Igreja.</li>
			</ul> 
		</ul>
	</div>
</div>