<div class="card mt-3">
	<div class="card-body bg-light">

		<div class="card-columns">
			<div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>"Se queremos uma Sociedade melhor devemos lutar, devemos ouvir, devemos orar e cumprir o nossos deveres"</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Everaldo Ribeiro Salviano <cite title="Título da fonte">(Comunidade Eucarística)</cite>
						</small>
					</footer>
				</blockquote>
		  </div>
		  
		  <div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>"Somos hóstias viva de Deus"</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Samantha Puerro <cite title="Título da fonte">(Ministério Eucarístico)</cite>
						</small>
					</footer>
				</blockquote>
		  </div>
		  
		  <div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>"A Missão é caminhar nesse Mundo imperfeito, mas levando a Missão com perfeição de doar as Mãos a quem precisa"</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Ana Paula Salviano <cite title="Título da fonte">(Cofundadora Comunidade Eucarística)</cite>
						</small>
					</footer>
				</blockquote>
		  </div>
		  
		  <div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>"A oração é a doação do nosso joelho para aqueles que não sabem Orar."</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Ana Paula Salviano <cite title="Título da fonte">(Cofundadora Comunidade Eucarística)</cite>
						</small>
					</footer>
				</blockquote>
		  </div>
		  
		  <div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>"Sem a oração é impossível viver um Cristão"</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Everaldo Ribeiro Salviano <cite title="Título da fonte">(Comunidade Eucarística)</cite>
						</small>
					</footer>
				</blockquote>
		  </div>
		  
		  <div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>"Vivênciar as Novenas do Ministério Eucarístico é ter experiências Divinas na Terra"</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Alexandre Bellini <cite title="Título da fonte">(Ministério Eucarístico)</cite>
						</small>
					</footer>
				</blockquote>
		  </div>
		  
		  <div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>"Devemos como filhos de Deus, sorrir para o nosso chamado! Chamado que exige caridade, oração,e muito amor. Nossa missão 
					é doar-se ao outro e ir aonde ninguém quer ir, enfrentar cada obstáculo junto a presença de Jesus Cristo, nosso mestre e senhor"</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Samantha Puerro <cite title="Título da fonte">(Ministério Eucarístico)</cite>
						</small>
					</footer>
				</blockquote>
		  </div>
		</div>
<!-- 
  <div class="card">
    <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
      <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src=".../100px260/" alt="Imagem do card">
  </div>
  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
      <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
   -->
  </div>
</div>