<div class="card mt-3">
	<div class="card-body bg-light">
		<h5 class="card-title">IDE</h5>
		<p class="text-justify">
			Célula que congrega os membros do Ministério Eucarístico que desejam avançar para as águas mais profundas da Vida Consagrada, além de pensar e desenvolver trabalhos missionários dentro e fora da igreja, buscam  alcançar prioritariamente os que por quaisquer motivos estão á margem da sociedade civil.
		</p>
		<p class="text-justify">
			Mensalmente seus membros são encarregados de organizar celebrações litúrgicas, visitas em hospitais, distribuição de roupas e alimentos nas ruas, e encontros com pessoas em situação de risco.
		</p>
	</div>
</div>