<div class="card mt-3">

  <div class="card-body bg-light">
	<div class="container-fluid">
		<div class="card-deck">
		  <div class="card">
		    <img class="card-img-top" src="assets/images/paroquias/sjTadeu.jpeg" height="410" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Santuário São Judas Tadeus</h5>
		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		    </div>
		    <div class="card-footer">
				<a class="btn btn-primary" data-toggle="collapse" href="http://www.saojudas.org.br" role="button" aria-expanded="false" aria-controls="aboutSaoJudas">Site</a>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="assets/images/paroquias/maeJesus.jpg" height="410" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Paróquia Mãe de Jesus</h5>
		      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		    </div>
		    <div class="card-footer">
				<a class="btn btn-primary" data-toggle="collapse" href="http://www.maedejesus.org.br" role="button" aria-expanded="false" aria-controls="aboutMaeJesus">Site</a>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="assets/images/paroquias/sfXavier.jpg" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Paróquia São Francisco Xavier</h5>
		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		    </div>
		    <div class="card-footer">
				<a class="btn btn-primary" data-toggle="collapse" href="http://diocesedesantoamaro.org.br/paroquias-da-diocese-de-santo-amaro/paroquia-sao-francisco-xavier/" role="button" aria-expanded="false" aria-controls="aboutFranciscoXavier">Site</a>
		    </div>
		  </div>
		</div>
	
		<div class="card border-light mb-3">
  			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
					  <div class="col">
					    <div class="collapse multi-collapse" id="aboutSaoJudas">
					      <div class="card card-body">
					        aboutSaoJudas - Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					      </div>
					    </div>
					  </div>
					</div>
					<div class="row">
					  <div class="col">
					    <div class="collapse multi-collapse" id="aboutMaeJesus">
					      <div class="card card-body">
					        aboutMaeJesus - Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					      </div>
					    </div>
					  </div>
					</div>
					<div class="row">
					  <div class="col">
					    <div class="collapse multi-collapse" id="aboutFranciscoXavier">
					      <div class="card card-body">
					        aboutFranciscoXavier - Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div> 
</div>