<div class="card border-light mb-3">
  <div class="card-body">
	<div class="container">
		<div id="mainNewsPhotos" class="carousel slide carousel-fade" data-ride="carousel">
			<!-- Indicators -->
         <ol class="carousel-indicators">
         	<li data-target="#mainNewsPhotos" data-slide-to="0" class="active"></li>
            <li data-target="#mainNewsPhotos" data-slide-to="1"></li>
            <li data-target="#mainNewsPhotos" data-slide-to="2"></li>
<!--             <li data-target="#mainNewsPhotos" data-slide-to="2"></li> -->
         </ol>
         
        <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <!-- 
		    <div class="carousel-item active">
		      <img class="d-block mx-auto" src="./assets/images/vigilia.png" alt="First">
		      <div class="carousel-caption d-none d-md-block">
    				<h5>Vigilias 2018</h5>
    				<a routerLinkActive='active' [routerLink]="['/vigils']"><p>Venha participar conosco...</p></a>
  				</div>
		    </div>
		     -->
		    <div class="carousel-item active">
		      <img class="d-block mx-auto" src="./assets/images/missoes/natal2018.jpeg" alt="First">
		      <div class="carousel-caption d-none d-md-block">
    				<a class="text-lg-center" routerLinkActive='active' [routerLink]="['/missaonatal']"><p>Confira como foi...</p></a>
  				</div>
		    </div>
		    <div class="carousel-item">
		      <img class="d-block mx-auto" src="./assets/images/livroespada.jpeg" alt="Second">
		      <div class="carousel-caption d-none d-md-block">
    				<a class="text-lg-center"routerLinkActive='active' [routerLink]="['/booksword']"><h5>Aconteceu...</h5></a>
  				</div>
		    </div>
		    <div class="carousel-item">
		      <img class="d-block mx-auto" src="./assets/images/novenas.jpg" alt="Third">
		      <div class="carousel-caption d-none d-md-block">
    				<a class="text-lg-center" routerLinkActive='active' [routerLink]="['/christmas']"><h5>Saiba mais...</h5></a>
  				</div>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#mainNewsPhotos" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Anterior</span>
		  </a>
		  <a class="carousel-control-next" href="#mainNewsPhotos" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Próximo</span>
		  </a>
		</div>
		
		<hr class="my-3">
		<div class="card border-light mb-3">
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="card-deck">
						  
						  <div class="card border-dark mb-2">
						    <img class="card-img-top" src="./assets/images/biblia.jpeg" alt="">
						    <div class="card-body">
						      <h5 class="card-title">Reflexão diária</h5>
						      <p class="card-text">
						      	Venha se alimentar diariamente com a palavra de Deus.
						      	<a routerLinkActive='active' [routerLink]="['/reflectiondaily']" class="alert-link">leia mais</a>
						      </p>
						      <footer class="blockquote-footer">
									<small class="text-muted">
										Enrico Tadeu Rasi <cite title="Título da fonte">Fundador Comunidade Eucarística</cite>
									</small>
								</footer>
						    </div>
						  </div>
						  
						  <div class="card border-dark mb-2">
						    <img class="card-img-top" src="./assets/images/palavra.png" alt="">
						    <div class="card-body text-dark">
						      <h5 class="card-title">Palavra de ciência</h5>
						      <p class="card-text">
						      	O carisma da Palavra de Ciência é uma revelação sobrenatural de algo que só Deus conhece, além da pessoa que está 
						      	passando pela situação; é um dom gratuito do Espírito Santo. 
						      	<a routerLinkActive='active' [routerLink]="['/wordofscience']" class="alert-link">leia mais</a> 
						      </p>
								<footer class="blockquote-footer">
									<small class="text-muted">
										Ana Paula Salviano <cite title="Título da fonte">Cofundadora Comunidade Eucarística</cite>
									</small>
								</footer>
						    </div>
						  </div>
						  
						  <div class="card border-dark mb-2">
						    <img class="card-img-top" src="./assets/images/terco.png" alt="">
						    <div class="card-body text-dark">
						      <h5 class="card-title">Terço com a Ana Maria</h5>
						      <p class="card-text">
						      	Saber rezar o terço Mariano? Quer aprender? Então venha rezar o terço com a Ana Maria, e fazer os mistérios.
						      	<a routerLinkActive='active' [routerLink]="['/prayrosary']" class="alert-link">leia mais</a>
						      </p>
						      <footer class="blockquote-footer">
									<small class="text-muted">
										Ana Maria Almeida <cite title="Título da fonte">Ministério Eucarístico</cite>
									</small>
								</footer>
						    </div>
						  </div>
						  
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
  </div>
</div>
