<div class="card mt-3">
	<div class="card-body bg-light">
		<h5 class="card-title text-center">Despertai</h5>
		<p class="text-justify">
			A porta de entrada para o Ministério Eucarístico, essa célula se reúne todos os domingos após celebração da Santa Missa, para aprofundar a Ação de Graças da Comunhão Eucarística
		</p>
		<p class="text-justify">
			Como católicos, conhecemos bem o preceito da missa dominical. Mas sabe aquela sensação de arder o coração na celebração? Aquele desejo de continuar, aprofundar e partilhar sua experiência? Às vezes, não sabemos bem como trabalhar isso e acabamos deixando passar uma Graça tão bonita e  especial dada de presente por Deus. Essa compreensão da Palavra de Deus acontece num fecundo ambiente de partilha. Venha conhecer! 
	   </p> 
		<p class="font-italic">
			"Desperta, tu que dormes! Levanta-te dentre os mortos e Cristo te iluminará”. Efésios 5-14.
		</p>
	   <p class="text-justify">
   		<strong>Onde atuamos:</strong>
	   </p>
	   <p class="text-justify">
   		Nossos encontros do ‘’Despertai” acontecem em três paróquias:
	   </p>
	</div>
	
	<!--  -->
	<div class="container-fluid">
		<div class="card-deck">
		  <div class="card">
		    <img class="card-img-top" src="assets/images/paroquias/sjTadeu.jpeg" height="400" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Santuário São Judas Tadeus</h5>
		      <p class="card-text">Após missa das 10h</p>
  				<p class="card-text">Av Jabaquara, 2682 – Metrô São Judas<p>
				<p class="card-text"><strong>Contato</strong></p>
				<p class="card-text">Lucas Mello - (11) 98436 6141.</p>
				<p class="card-text">Renata Câmara - (11) 99289 0023.</p>
		    </div>
		    <!-- 
		    <div class="card-footer">
				<a class="btn btn-primary" data-toggle="collapse" href="http://www.saojudas.org.br" role="button" aria-expanded="false" aria-controls="aboutSaoJudas">Site</a>
		    </div>
		     -->
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="assets/images/paroquias/maeJesus.jpg" height="400" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Paróquia Mãe de Jesus</h5>
		      <p class="card-text">Após missa das 10h</p>
  				<p class="card-text">Rua Adriano Racine, 15 - Jardim Celeste<p>
				<p class="card-text"><strong>Contato</strong></p>
				<p class="card-text">Alexandre Bellini - (11) 99756 0350.</p>
				<p class="card-text">Samantha Puerro - (11) 99335 8362.</p>
		    </div>
		    <!-- 
		    <div class="card-footer">
				<a class="btn btn-primary" data-toggle="collapse" href="http://www.maedejesus.org.br" role="button" aria-expanded="false" aria-controls="aboutMaeJesus">Site</a>
		    </div>
		     -->
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="assets/images/paroquias/sfXavier.jpg" height="400" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Paróquia São Francisco Xavier</h5>
		      <p class="card-text">Após missa das 8h30</p>
  				<p class="card-text">R. Santo Alberico Crescitelli, 15 - Vila Missionaria<p>
				<p class="card-text"><strong>Contato</strong></p>
				<p class="card-text">Ana Maria Almeida - (11) 94297 1637.</p>
		    </div>
		    <!-- 
		    <div class="card-footer">
				<a class="btn btn-primary" data-toggle="collapse" href="http://diocesedesantoamaro.org.br/paroquias-da-diocese-de-santo-amaro/paroquia-sao-francisco-xavier/" role="button" aria-expanded="false" aria-controls="aboutFranciscoXavier">Site</a>
		    </div>
		     -->
		  </div>
		</div>
	
		<div class="card border-light mb-3">
  			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
					  <div class="col">
					    <div class="collapse multi-collapse" id="aboutSaoJudas">
					      <div class="card card-body">
					        aboutSaoJudas - Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					      </div>
					    </div>
					  </div>
					</div>
					<div class="row">
					  <div class="col">
					    <div class="collapse multi-collapse" id="aboutMaeJesus">
					      <div class="card card-body">
					        aboutMaeJesus - Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					      </div>
					    </div>
					  </div>
					</div>
					<div class="row">
					  <div class="col">
					    <div class="collapse multi-collapse" id="aboutFranciscoXavier">
					      <div class="card card-body">
					        aboutFranciscoXavier - Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>