<div class="card mt-3">
	<div class="card-body bg-light">
		<h5 class="card-title">Despertai</h5>
		<p class="text-justify">
			Como católicos, conhecemos bem o preceito da missa dominical. Mas sabe aquela sensação de arder o coração na celebração? 
			Aquele desejo de continuar, aprofundar e partilhar sua experiência? 
		</p>
		<p class="text-justify">
			Às vezes, não sabemos bem como trabalhar isso e acabamos deixando passar uma Graça tão bonita e tão especial dada por Deus.		
	   	Uma oportunidade para evitar isso é o grupo de partilha denominado <strong>DESPERTAI</strong>. 
	   </p> 
	   <p class="text-justify">
	   	Nessa dinâmica você terá espaço para dividir com os irmãos a experiência vivida durante a celebração da missa e os aprendizados colhidos. 
	   Assim, poderá intensificar a participação da Eucaristia, a Palavra de Deus precisa ser praticada durante o dia a dia semana. 
	   </p>
	   <p class="text-justify">
   		Iniciativa do movimento Ministério Eucarístico, as reuniões acontecem aos domingos após na missa das 10h. De uma maneira simples, mas confiantes no Espírito Santo, ajudamos uns aos outros no aprofundamento da vivência litúrgica. 
	   	Venha nos conhecer!
	   </p>
	</div>
</div>